body {
  background-color: teal;
  color: white;
  font-size: 80px;
  text-align: center;
  margin-top: 25%;
}

#myClock {
    position: relative;
    height: 100px;
    top: 45%;
    margin-top: -50px;
    text-align: center;
}

#time {
    font-size: 100px;
    font-family: 'Kashuan Script', sans-serif;
}
